<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Practice : List and Dictionary Comprehensions

---

Practice essentials of performing list and dictionary comprehensions in Python.

In [1]:
import numpy as np
import string


### Section 1: List comprehensions

##### 1) Add 1 to every element in the list.

In [1]:
numbers = [0,1,2,3,4,5,6,7,8,9]
[number+1 for number in numbers]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#####  2) Binarize" n so that any value greater than or equal to the mean of n is 1, otherwise 0.

In [3]:
n = [1, 2, 7, 21, 3, 1, 62, 3, 34, 12, 73, 44, 12, 11, 9]
[1 if x>= sum(n)/len(n) else 0 for x in n]

[0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0]

#####  3) Get the square and square root of all non-negative numbers in the list.

In [4]:
n = [0, 1, 50, -23, -1, 75, -3]

In [8]:
[x ** 2 for x in n if x >= 0]

[0, 1, 2500, 5625]

In [2]:
np.sqrt(4)

2.0

In [7]:
{number:(number ** 2,np.sqrt(number)) for number in n if number >=0}

{0: (0, 0.0),
 1: (1, 1.0),
 50: (2500, 7.0710678118654755),
 75: (5625, 8.660254037844387)}

##### 4) Combine elements of these two lists item by item into list pairs:
result should be: `[['a', 'z'], ['b', 'y'], ['c', 'x'], ['d', 'w']]`

In [17]:
a = ['a','b','c','d']
z = ['z','y','x','w']
[[a[i], z[i]] for i in range(min(len(a), len(z)))]

[['a', 'z'], ['b', 'y'], ['c', 'x'], ['d', 'w']]

##### 5) Pair each index and element in this list into list pairs:
result should be: `[[0, 'a'], [1, 'b'], [2, 'c'], [3, 'd']]`

In [1]:
a = ['a','b','c','d']
[[i, A] for i, A in enumerate(a)]

[[0, 'a'], [1, 'b'], [2, 'c'], [3, 'd']]

### Section 2: Dictionary comprehensions

##### 6) Make a dictionary in which keys are animals and values are lists, storing the [ASCII](http://www.asciitable.com/) number value of each character in the key, eg `'dog': [100, 111, 103]`

Hint: Use the **`ord()`** function to convert characters into their ASCII values.

In [23]:
keys = ['dog', 'cat', 'bird', 'horse']
{animal: [ord(char) for char in animal] for animal in keys}

{'dog': [100, 111, 103],
 'cat': [99, 97, 116],
 'bird': [98, 105, 114, 100],
 'horse': [104, 111, 114, 115, 101]}

##### 7) Create a dictionary with these column names and the corresponding column values.

In [24]:
column_names = ['height','weight','is_male']
values = [[62, 54, 60, 50], [180, 120, 200, 100], [True, False, True, False]]

{column: value for column, value in zip(column_names, values)}

{'height': [62, 54, 60, 50],
 'weight': [180, 120, 200, 100],
 'is_male': [True, False, True, False]}